
learn programing style/Assets/Objects/Player/Sprites/Idle/Armature_Idle_00.png
learn programing style/Assets/Objects/Player/Sprites/Idle.meta
learn programing style/Assets/Objects/Player/Sprites.meta
learn programing style/Assets/Objects/Player/Scripts/player.cs.meta
learn programing style/Assets/Objects/Player/Scripts/player.cs
learn programing style/Assets/Objects/Player/Scripts.meta
learn programing style/Assets/Objects/Player/Animations/Run.anim.meta
learn programing style/Assets/Objects/Player/Animations/Run.anim
learn programing style/Assets/Objects/Player/Animations/Jump.anim.meta
learn programing style/Assets/Objects/Player/Animations/Jump.anim
learn programing style/Assets/Objects/Player/Animations/Idle.anim.meta
learn programing style/Assets/Objects/Player/Animations/Idle.anim
learn programing style/Assets/Objects/Player/Animations/Armature_Idle_00.controller.meta
learn programing style/Assets/Objects/Player/Animations/Armature_Idle_00.controller
learn programing style/Assets/Objects/Player/Animations.meta
learn programing style/Assets/Objects/Player.meta
learn programing style/Assets/Objects.meta
learn programing style/Assets/Expression.cs.meta
learn programing style/Assets/EstruturarPainell.cs.meta
